body, div, h2, form, input, canvas {
	box-sizing: border-box;
}

body > div {
	width: 1100px;
	margin: 0 auto;
}
h2 {
	text-align: center;
}

form {
	display: inline-block;
	border: 1px solid black;
	width: 465px;
	height: 502px;
	vertical-align: top;
	padding: 15px 0 0 15px;
}

input[type="text"] {
	width: 50px;
	margin-bottom: 5px;
}

#parameters {
	height: 130px;
}

#list {
	width: 400px;
	vertical-align: bottom;
}

#buttons{
	max-width: 35px;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}

#buttons > input {
	width: 30px;
}

canvas {
	display: inline-block;
	border: 1px solid black;
	vertical-align: top;
}
